@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
*{
    padding:0;
    margin:0;
    font-family: Outfit;
    color:var(--White);
}
img{
    max-inline-size: 100%;
    block-size: auto;
}
:root{
    --Softblue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --BGdarkblue : hsl(217, 54%, 11%);/*(main BG)*/
    --Verydarkblue : hsl(216, 50%, 16%);/*(card BG)*/
    --linedarkblue: hsl(215, 32%, 27%);/*(line)*/
    --White: hsl(0, 0%, 100%);
}
body{
    background-color: var(--BGdarkblue);
}
section{
    background-color:var(--Verydarkblue) ;
    width:250px;
    padding: 20px;
    border-radius: 10px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
picture img{
    width:300px;
    border-radius: 10px;
}
picture img:hover{
    background-image: url(images/icon-view.svg);
    
}
h1{
    font-weight: 500;
    margin-top: 20px;
}
h1:hover{
   color: var(--Cyan); 
    
}
p{
    color:var(--Softblue);
    font-size: 0.9rem;
    margin-top: 10px;
}
ul{
    list-style: none;
    display: flex; 
    margin-top: 20px;  
}
li{
    color: var(--Cyan);
}
ul .timeleft{
    margin-left: 70px;
}
.avatar{
    width: 2rem;
    background-color: var(--White);
}
.credits{
    display: flex;
    margin-top: 20px;
}
.line{
    height: 1px;
    background: var(--Softblue);
    margin-top: 20px;
}
.highlight:hover{color:var(--Cyan);}
.time{color:var(--Softblue);}

